:root {
    --darkBackground: #F49D1A;
    --lightBackground: #ffe779;
    --popUpTextColor: #FF6D00;
    --borderColor: #df8f17;
    --replayButtonBackground: #ffb236;
    --startButtonHover: #e7bc10;
    --attentionColor: #DC3535;
    --cardFaceHover: #dc4e35;
    --cardBackground: #ffdca4;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: radial-gradient(var(--darkBackground), var(--lightBackground));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pop-up-title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: black;
    align-self: center;
}

.pop-up-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: var(--popUpTextColor);
    font-family: "Josefin Sans", sans-serif;
    background-color: rgba(0, 0, 0, .8);
}

.starting-pop-up {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 15%;
    border: 3px solid var(--borderColor);
    border-radius: 10px;
    background-color: seashell;
    padding: 1rem 3rem;
}

.pop-up-over-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: var(--popUpTextColor);
    font-family: Creepy, serif;
    background-color: rgba(0, 0, 0, .8);
}

.pop-up-over-container.visible {
    display: flex;
}

.pop-up-container.invisible {
    display: none;
}

h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0.5rem;
}

.radio-buttons-container {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin: 0.5rem 0;
}

.game-title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: seashell;
    margin-top: 7rem;
}

button {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    border: 3px solid var(--borderColor);
    border-radius: 10px;
    cursor: pointer;
}

.start-button {
    background-color: seashell;
    margin: 0 auto;
}

.replay-button {
    background-color: var(--replayButtonBackground);
    color: seashell;
}

.start-button:hover {
    color: var(--startButtonHover);
}

.replay-button:hover {
    color: var(--attentionColor);
}

.info-container {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: seashell;
}

#time-info {
    font-size: 2rem;
    color: var(--attentionColor);
}

#game-content-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1rem;
    margin: 3rem;
    perspective: 500px;
}

.card.normalCard {
    position: relative;
    height: 7rem;
    width: 7rem;
}

.card.biggerCard {
    position: relative;
    height: 10rem;
    width: 10rem;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border: 3px solid var(--borderColor);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 600ms ease-in-out;
}

.card-face:hover {
    border: 3px solid var(--cardFaceHover);
    transition-duration: 1s;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card.matched .card-id {
    animation: dance 1s linear infinite 500ms;
}

@keyframes dance {
    0%, 100%  {
      transform: rotate(0);
    }
    25% {
      transform: rotate(-30deg);
    }
    75% {
      transform: rotate(30deg);
    }
}

.card-back {
    background-color: var(--cardBackground);
}

.card-front {
    background-color: var(--cardBackground);
    transform: rotateY(180deg);
}

span {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 6rem;
    color: seashell;
    padding: 0.8rem 0 0;
}

.card:hover span {
    color: var(--attentionColor);
    transition-duration: 1s;
}


